* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
}

body {
	display: flex;
	justify-content: center;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* nav */
nav {
	background-color: #eee;
	border-right: 1px solid #222;
	height: 100vh;
	width: 300px;
}

nav header {
	padding: 15px;
	font-weight: bold;
}

nav a {
	border-top: 1px solid #222;
	color: #222;
	display: block;
	padding: 15px;
	text-decoration: none;
}

/* main */
main {
	flex: 1;
	height: 100vh;
	overflow-y: scroll;
}

section {
	padding: 20px;
	line-height: 1.5;
}

section header {
	font-weight: 500;
	letter-spacing: 1px;
	font-size: 20px;
}

xmp {
	background-color: #eee;
	margin: 0.8rem 0;
}

ul li {
	margin: 0.5rem;
	padding-left: 1rem;
}

h3 {
	margin-top: 0.5rem;

}